@model SPU911.Models.ProductModel

<h4>ProductModel</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ImageName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ImageName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SalePercent)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SalePercent)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.IsNew)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.IsNew)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CategoryName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CategoryName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ProductName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ProductName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.PriceOld)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.PriceOld)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Rate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Rate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ProductType)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ProductType)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Details)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Details)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CreateDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CreateDate)
    </dd>
</dl>
