@model ProductDetailsViewModel
@{
    var product = Model.Product;
}


<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="~/@product.ImageName" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="~/@product.ImageName" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">
                        @product.ToString()
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@product.Id"> Edit</a>
                        <a class="btn btn-warning" asp-action="Delete" asp-route-id="@product.Id"> Remove</a>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
                            Remove
                        </button>
                    </h2>
                    <div>
                        @Html.Partial("_showrating", product.Rate)
                        <a class="review-link" href="#">10 Review(s) | Add your review</a>
                    </div>
                    <div>
                        <h3 class="product-price">$ @product.Price <del class="product-old-price">$ @product.PriceOld</del></h3>
                        <span class="product-available">In Stock</span>
                    </div>
                    <p>@product.Details</p>

                    <div class="product-options">
                        <label>
                            Size
                            <select class="input-select">
                                <option value="0">X</option>
                            </select>
                        </label>
                        <label>
                            Color
                            <select class="input-select">
                                <option value="0">Red</option>
                            </select>
                        </label>
                    </div>

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Qty
                            <div class="input-number">
                                <input type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
                        <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Category:</li>
                        <li><a href="#">@product.CategoryName</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

@Html.Partial("_related_products", Model.RelatedProducts)

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this?</h4>
            </div>
            <div class="modal-body" id="modal-content">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

<script type="text/javascript">
    jQuery(document).ready(function(){
        $('#myModal').on('show.bs.modal', function (event) {
                $.ajax({
                    type: 'GET',
                    url: '/Products/DeleteAjax/@product.Id',
                    contentType: "application/json; charset=utf-8",
                }).done(function (response) {
                    console.log(response);
                    $("#modal-content").html(response);
                });

        })
    })
    var image= 'ee';

    //var xmlhttp = new XMLHttpRequest();
    //xmlhttp.onreadystatechange = function() {
    //    if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
    //       if (xmlhttp.status == 200) {
    //           document.getElementById("modal-content").innerHTML = xmlhttp.responseText;
    //       }
    //       else if (xmlhttp.status == 400) {
    //          alert('There was an error 400');
    //       }
    //       else {
    //           alert('something else other than 200 was returned');
    //       }
    //    }
        //xmlhttp.open("GET", "/Products/Delete/@product.Id", true);
        //xmlhttp.send();


</script>
}